<% @recipes = Recipe.all %>
<% @recipes.each do |recipe| %>
  <div class = "recipe-name">
    <h1><%= recipe.name %></h1>
  </div>

  <div class = "recipe-description">
    <h2><%= recipe.description %></h2>
  </div>

  <div class = "ingredients">
    <ul>
      <% recipe.ingredients.each do |ingredient| %>
        <li><%= ingredient.name %>
          (<i><%= recipe.recipe_ingredients.find_by(ingredient_id: ingredient.id).quantity %></i>)</li>
      <% end %>
    </ul>
  </div>
<% end %>
